body.sigin-body {
  background-color: #e6f2ff;
}

.container.signin-container {
  margin-top: 7%;
}
.card.signin-card {
  width: 80%;
  padding: 40px 0px 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
img.sigin-Logo {
  padding: 0 2rem 2rem;
  margin: auto;
  display: block;
}
form.sigin-form {
  max-width: 450px;
  margin: auto;
}
input.form-control {
  border-radius: 3px;
}
button.signin-btn {
  color: #fff;
  background-color: #d64829;
  width: 100%;
  border-radius: 2px;
}
button.signin-btn:hover {
  background: none;
}
a.Create-new-account {
  font-size: 1.2rem;
  display: block;
  text-align: center;
  margin-top: 10px;
}
